Android/POC/JavaWebserverAccessingThroughAndroidAPI's/EmpDetails_Server/EmpDetails_Server/wsdl/EmpController.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://controller.emp.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://controller.emp.com" xmlns:intf="http://controller.emp.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://controller.emp.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getEmployeeDetails">
    <complexType>
     <sequence>
      <element name="no" type="xsd:int"/>
      <element name="name" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getEmployeeDetailsResponse">
    <complexType>
     <sequence>
      <element name="getEmployeeDetailsReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getEmployeeDetailsResponse">

      <wsdl:part element="impl:getEmployeeDetailsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getEmployeeDetailsRequest">

      <wsdl:part element="impl:getEmployeeDetails" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="EmpController">

      <wsdl:operation name="getEmployeeDetails">

         <wsdl:input message="impl:getEmployeeDetailsRequest" name="getEmployeeDetailsRequest">

       </wsdl:input>

         <wsdl:output message="impl:getEmployeeDetailsResponse" name="getEmployeeDetailsResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="EmpControllerSoapBinding" type="impl:EmpController">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getEmployeeDetails">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getEmployeeDetailsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getEmployeeDetailsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="EmpControllerService">

      <wsdl:port binding="impl:EmpControllerSoapBinding" name="EmpController">

         <wsdlsoap:address location="http://localhost:1234/EmpDetails_Server/services/EmpController"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
